<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Fitness</title>
</head>
<body>
    <h1>Dojo Fitness</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- {{ request.session.user_id }} -->

    <a href="/logout"><button>Logout</button></a>

    <!-- Your workouts -->

    {{workouts}}

    <a href="/add_workout"><button>Add a workout session</button></a>

    <!-- Other's workouts -->
    
</body>
</html>